<div class="container">
  <div>
    <% if @candidacies != [] %>
      <h4>Mes candidatures :</h4>
      <% @candidacies.each do |candidacy| %>
        <ul>
          <li><%= link_to candidacy.offer.job_name || candidacy.offer.formation_name, candidacy_path(candidacy.id) %></li>
        </ul>
      <% end %>
    <% else %>
      <h4>Vous avez aucune candidatures en cours</h4>
    <% end %>
  </div>
</div>
