.wrapper {
  color: white;
  text-align: center;
  height: calc(50vh - 70px);
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
